files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_application.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Start application.py
      python /var/app/current/application.py &

container_commands:
  01_restart_nginx:
    command: "service nginx restart"